label {
    display: block;
}

input[type="text"] {
    width: 600px;
}

h2 {
color: dimgrey}

.dataContainer {
    margin-left: 18px;
}

div#progressContainer {
    margin-left: 20px;
    margin-right: 10%;
}